$colour-body: inherit !default;
$font-family-body: arial, sans-serif !default;
$font-weight-body: regular !default;
$colour-anchor: #006791 !default;
$unit-base: 8 !default;
$spacing-horizontal: $unit-base;
$spacing-vertical: $unit-base;

body {
	color: $colour-body;
	font-family: $font-family-body;
	font-weight: $font-weight-body;
}

a {
	@include transition(all 0.25s ease-out);
	color: $colour-anchor;
}

a:active,
a:focus,
a:hover {
	color: lighten( $colour-anchor, 5% );
}

h1,
h2,
h3,
h4,
h5 {
	color: inherit;
}

p {
	margin: $spacing-vertical + px 0;
}

ol,
ul {
	margin: $spacing-vertical + px 0 $spacing-vertical + px $spacing-horizontal * 3 + px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%

}

.type-heading-1 {
	color: #838383	;
	font-family: $font-family-heading; 
	font-size: em(40);
	font-weight: 300;
}

.type-heading-2 {
	color: #676767;
	font-family: $font-family-heading; 
	font-size: em(32);
	font-weight: 300;
	margin-top: 32px;
}

.type-value {
	font-family: $font-family-value;
}

td.type-value {
	font-size: em(14);

	@include breakpoint(md) {
		font-size: inherit;
	}
}

.type-highlight {
	color: $colour-brand;
}

.type-unit {
	color: #a5a5a5;
	font-size: em(12);
}

.type-badge {
	background: #fafafa;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-size: em(12);
	padding: em(2, 12) em(4, 12);
}
