$colour-body: #575757;
$font-family-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-value: "Roboto Condensed";
$font-weight-body: regular;
$colour-brand: #0095c8;
$colour-anchor: $colour-brand;

