$colour-anchor: #3287b3;
$body-colour: #575757;
$body-font-family: arial ,sans-serif;
$body-font-weight: regular;
$unit-base: 8;

$form-background-color: #ffffff;
$form-border-color: #999999;
$form-border-radius: 0;
$form-border-style: solid;
$form-border-width: 1;
$form-button-background-active: darken( $colour-anchor, 10% );
$form-button-background: $colour-anchor;
$form-button-border: $colour-anchor;
$form-button-border-active: darken( $colour-anchor, 10% );
$form-button-color: white;
$form-button-font-weight: bold;
$form-color: #575757;
$form-height: 40;
$form-input-focus: #3287b3;
$form-padding: 8;
$form-margin-bottom: 16;
