{% import '../macros/icon.html' as macro %}
{% extends '../layouts/default.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
	{% parent %}
	<!-- additional style sheets -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

{% include '../modules/header.html' %}

<div class="container">
	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2">

			{% include '../modules/sidebar.html' %}

		</div>
		<div class="col-sm-8 col-md-12 col-lg-10">

			{% include '../modules/main.html' %}

		</div>
	</div>
</div>

<script>	

	var collapseControl = document.getElementsByClassName('toggle-control');

	for (var i=0; i < collapseControl.length; i++) {
		collapseControl[i].addEventListener('click', function() {
			var toggleTarget = this.getAttribute('data-toggle-target');
			var toggleClass = this.getAttribute('data-toggle-class');
			document.getElementById(toggleTarget).classList.toggle(toggleClass);;
		}, false);
	}

</script>


{% include '../modules/footer.html' %}

{% endblock %}
