.table {
	background: white;
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;

	@include breakpoint(md) {
		font-size: 11px;
	}
	@include breakpoint(lg) {
		font-size: 14px;
	}
}

.table .table {
	margin-bottom: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 1px solid #bababa;
	line-height: 1.42857143;
	padding: 8px;
	vertical-align: top;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
	border-top: 1px solid #e5e5e5;
}

.table > thead > tr > th,
.table > tfoot > tr > th {
	background: #fafafa;
	border-bottom: 1px solid #bababa;
	vertical-align: top;
}

.table-fixed {
	table-layout: fixed;
}

.table-responsive {
	> thead {
		display: none;		
	}

	> tbody,
	> tfoot {
		display: block;		
	}
	> tbody > tr,
	> tfoot > tr,
	> tbody > tr,
	> tfoot > tr {
		@include clearfix;
		display: block;
	}

	> tbody > tr > td,
	> tfoot > tr > td,
	> tbody > tr > th,
	> tfoot > tr > th {
			clear: both;
			display: block;
			float: left;
			text-align: left;
			width: 100%;

		&:before {
			content: attr(title);
		}
	}

	@include breakpoint(md) {
		> thead {
			display: table-header-group;
		}

		> tbody {
			display: table-row-group;
		}

		> tfoot {
			display: table-footer-group;
		}

		> tbody > tr,
		> tfoot > tr,
		> tbody > tr,
		> tfoot > tr {
			display: table-row;

			&:before,
			&:after {
				display: none;
			}
		}

		> tbody > tr > td,
		> tfoot > tr > td,
		> tbody > tr > th,
		> tfoot > tr > th {
				clear: none;
				display: table-cell;
				float: none;
				width: auto;

			&:before {
				display: none;
			}
		}
	}
}
